@import url('/normalize.css');

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
}

.wrapper {
	min-width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #555;
	
}

._container {
	margin: 0 auto;
	overflow: hidden;
	width: 90vw;
	height: 100%;
}

._img {
	height: 100%;
	left: 0;
	object-fit: cover;
	top: 0;
	width: 100%;
	border-radius: 2%;
	
}

.main {
	min-height: 100%;
	height: 100vh;
	position: relative;
}

/*---ADAPTIVE--*/
@media (max-width: 768px) {

}

/*---SLIDER--*/
.slider {
	padding: 20px 0 0 0;
	position: relative;
	height: 100vh;
	width: 400%;
	display: flex;
	margin: 0 0 20px 0;
}
.handlers {
	position: absolute;
	right: 0;
	bottom: 5px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 40px;
}
.slide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	position: relative;
	width: 25%;
	transition: all 0.5s ease;
}

.img__container {
	width: 100%;
	height: 100%;
	position: relative;
}

.slide p {
	color: rgba(225, 147, 222, 1);
}

#btn-1:checked ~ .active {
	margin-left: 0;
}
#btn-2:checked ~ .active {
	margin-left: -25%;
}
#btn-3:checked ~ .active {
	margin-left: -50%;
}
#btn-4:checked ~ .active {
	margin-left: -75%;
}

.button[name='button-hidden'] {
	position: absolute;
	visibility: hidden;
}


/*--------HANDLERS---------*/
.handler__container {
	position: relative;
	padding: 10px;
	cursor: pointer;
	min-width: 20px;
	min-height: 20px;
}

.handler {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	background-color: rgba(225, 147, 222, 1);
	border-radius: 50%;
	border: 2px solid rgba(225, 147, 222, 1);
}

.handler__container:not(:last-child) {
	margin-right: 5px;
}

.handler__container label:checked {
	background: none;
	border: 2px solid rgba(225, 147, 222, 1);
	transition: all 0.4s ease;
}

.handler__container:hover .handler {
	background: none;
	border: 2px solid #fff;
	transition: all 0.4s ease;
}


.handler__container:active .handler {
	background: #fff;
	border: 2px solid #fff;
	transition: all 0.4s ease;
}







